
.portfolio-main {
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 4%;
    height: 100vh;
    background-color: #EEEEEE;
    flex-wrap: wrap;
}

.left-column {
    float: left;
    background-color: white;
    padding: 30px;
    padding-left: 45px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 600px;
    
}
.left-column h1 {
    font-size: 50px;
    padding: 5px;
}

.left-column ul {
    padding-top: 10px;
    padding-left: 20px;
    font-size: 25px;
}

.left-column li {
    padding: 10px;
}


.right-column {
    float: right;

}
#picture {
    width: 500px;
    height: auto;
    border-radius: 100px;
    transform: scaleX(-1);

}

#scroll-button {
    margin-top: auto;
    font-size: 18px;
    border: none;
    padding: 5px;
    transition: color 0.3s;
}
#scroll-button:hover {
    background-color: #c4c4c4;
}




