.technical-skills {
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 4%;
    padding-top: 100px;
    height: 100vh;
}

#technical-skills-heading {
    font-size: 45px;
    border-bottom: 1px solid #b5b5b5;
}
.technical-skills-subheading {
    padding-top: 25px;
    padding-bottom: 25px;
}

.technical-skills img {
    width: 175px;
    margin-left: 15px;
    margin-right: 10px;
}
.technical-skills-row {
    padding-bottom: 40px;
    padding-top: 30px;
}
