* {
    font-family: 'Fira Sans';
    margin: 0;
    padding: 0;
}

.top-container { 
    display: flex;
    width: 100%;
    overflow: hidden;
    font-family: 'Fira Sans';
}

.top-nav-links a {
    float: left;
    color: #f2f2f2;
    padding: 14px 18px;
    text-decoration: none;
    font-size: 50px;
    transition: color 0.3s;
    text-align: center;
}
.top-nav-links a:hover { color: #b5b5b5; }

.top-nav-header {
    flex-grow: 1;
    text-align: center;
    align-self: center;
    font-size: 25px;
}


.fa.fa-linkedin { background: #0A66C2; }
.fa.fa-github { background: #333; }
.fa.fa-instagram { background-color: #125688; }


